.navigator-container {
  padding: 12px 0;
  &__inner {
    display: flex;
    margin: auto;
    max-width: @container-width;

    .navigator-logo {
      display: flex;
      margin: 0 12px;
      font-size: 24px;
      font-weight: 500;
      font-family: KittyKatt;

      &__prev {
        color: @primary;
      }

      &__after {
        color: @deputy;
      }
    }

    .navigator-list {
      display: flex;
      align-items: center;
      padding: 8px 0;

      &__item {
        margin-left: 20px;
        font-family: Wotfard-Medium;
        font-weight: bold;
      }
    }

    .navigator-menu {
      padding: 8px 0;
      margin-left: auto;
    }
  }
}
