@font-face {
  font-family: KittyKatt;
  src: url(src/assets/fonts/KittyKatt.ttf) format("truetype");
}

@font-face {
  font-family: Wotfard-Medium;
  src: url(src/assets/fonts/WotFard-Medium.ttf) format("truetype");
}

@font-family-title: Wotfard-Medium;
